<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title box14
        link(rel="stylesheet", href="/css/styles.css")
    body
        .header
        .under
            .under__col1
            .under__col2
            .under__col3