@import "./reset.css";

.header {
    width: 100%;
    height: 40px;

    background-color: aquamarine;
}

.under {
    width: 100%;
    height: 590px;

    display: flex;
    flex-direction: row;
}

.under .under__col1 {
    width: 35%;
    height: 590px;

    background-color: peachpuff;
}

.under .under__col2 {
    width: 30%;
    height: 590px;

    background-color: chartreuse;
}

.under .under__col3 {
    width: 35%;
    height: 590px;

    background-color: blueviolet;
}